[*.cs]
# dotnet_diagnostic.CA1000.severity = warning
dotnet_diagnostic.SA1101.severity = none
dotnet_diagnostic.SA1309.severity = none # Field should not begin with an underscore
dotnet_diagnostic.SA1600.severity = error # Elements should be documented
dotnet_diagnostic.SA1633.severity = none # The file header is missing or not located at the top of the file
dotnet_diagnostic.SA1413.severity = none # Use trailing comma in multi-line initializers
